{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="section wrapper d-flex justify-content-center align-items-center" data-aos="fade-up">
<div class="container-fluid">
<div class="row">
    <div class="col">
      <div class="card text-dark card-has-bg click-col" >
        <img class="card-img d-none" src="#" alt="#">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <h4 class="card-title mt-0 "><a class="text-dark">تحرير التقرير</a></h4>
              <form method="POST">

                {% csrf_token %}
                {{form|crispy}}
                

            </div>
            <div class="card-footer">
                <div class="media text-center">
                    <input class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" type="submit" value="تحديث">
                </div>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>

<style>
    .wrapper {
      margin: 10vh;
    }
  
    .card {
      border: none;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      overflow: hidden;
      border-radius: 20px;
      min-height: 550px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    }
  
    .btn-rounded.btn-md {
      padding: 12px 35px;
      font-size: 16px;
    }
  
    .btn-primary,
    .btn-primary.disabled {
      background: #02395D;
      border: 1px solid #02395D;
      -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
      box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
    }
  
    .btn-rounded {
      border-radius: 60px;
      padding: 7px 18px;
    }
  
    .btn:disabled {
      background-color: #BDBDBD;
      cursor: not-allowed;
    }
  </style>

{% endblock content %}